@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,400&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #3b2747;
    --text-color: #f8f8f8;
    --secound-color: #a09dab;
    --main-color: #f75023;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

/* -------------------------header------------------------ */

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 15%;
    transition: all ease .45s;
    height: 60px;
    background-color: rgba(190, 131, 226, 0.2);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.logo {
    font-weight: 600;
    width: 20%;
}

.logo img {
    width: 100%;
}

.navbar {
    display: flex;
}

.navbar a {
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin: 0 25px;
    transition: all ease .50s;
}

.navbar a:hover {
    color: var(--main-color);
}

.navbar a.active {
    color: var(--main-color);
}

.icons {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
}


.icons ion-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
}

.icons {
    width: 40vh;
    display: flex;
    justify-content: space-between;
}

.icons a {
    display: flex;
    flex-direction: row;
    font-weight: inherit;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    transition: all ease .2s;
}

.icons a:hover{
    color: var(--main-color);
    transition: all ease .2s;
}


section {
    padding: 0 0%;
}

.home {
    background: rgb(0, 0, 0, 0.2);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-left: 250px;
    padding-right: 250px;
}

.home-img {
    position: relative;
    width: 540px;
    height: 540px;
    object-fit: contain;
    border-radius: 100px;
}

.home-img img {
    position: relative;
    width: 540px;
    height: 540px;
    object-fit: contain;
    border-radius: 15px;
}


.home-span {
    padding-left: 30px;
    display: inline-block;
    color: var(--text-color);
    font-size: 22px;
    text-transform: uppercase;
    width: 100%;
    line-height: 50px;
}


.home-text h1 {
    font-size: var(--big-font);
    margin: 23px 0; 
    padding: 30px;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    color: #c3c3c3;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 30px;
}

.backgroundSquare {
    background: rgb(0, 0, 0, 0.2);
    border-radius: 15px;
}

.btn {
    display: inline-block;
    padding: 14px 34px;
    background: var(--main-color);
    color: var(--text-color);
    border: 2px solid var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    transition: all 0.6s ease-in-out;
}

.btn:hover {
    transform: translateY(-5px);
    background: transparent;
    color: var(--main-color);
}

.main-btn{
    padding: 30px;
}

.about {
    margin-top: 50px;
    align-items: center;
}

.textoAbout {
    display: flex;
    justify-content: space-around;
}

.textoAbout .text-left {
    background-color: rgba(0, 0, 0, 0.1);
    width: 45%;
    text-align: justify;
    font-size: 22px;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
}

.textoAbout .text-right {
    background-color: rgba(0, 0, 0, 0.1);
    width: 45%;
    text-align: justify;
    font-size: 22px;
    padding: 50px 50px 50px 50px;
    border-radius: 10px;
}

.spotify {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    align-items: center;
}

.spotify iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 600px;
    padding-bottom: 100px;
}

.tituloSpotify {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 38px;
}